<main>
  <div class="gallery-container">
    <div class="img-block-top">
      <div class="img-wrap img-tran">
        <img
          class="top-img"
          src="/1.jpg"
          alt="Person holding a baby alpaca, wrapped in a brightly-colored blanket (Photo by Rodolfo Clix from Pexels.com)."
        />
      </div>
      <div class="img-wrap img-tran">
        <img
          class="top-img"
          src="/2.jpg"
          alt="Close-up on head of a brown, fuzzy aplaca (photo by Magda Ehlers from Pexels.com)."
        />
      </div>
    </div>
    <div class="img-block-middle">
      <div class="img-wrap-outer img-tran">
        <img
          class="outer-img"
          src="/m1.jpg"
          alt="An alpaca standing in a beautiful mountain vista (photo by Trace Hudson from Pexels.com)."
        />
      </div>
      <div class="img-wrap-center img-tran">
        <img
          class="center-img"
          src="/m2.jpg"
          alt="A woman in a white shirt gets a smooch from an alpaca (photo by Taryn Elliott from Pexels.com)."
        />
      </div>
      <div class="img-wrap-outer img-tran">
        <img
          class="outer-img"
          src="/m3.jpg"
          alt="A brown alpaca on a high hill (photo by Alex Azabache from Pexels.com)."
        />
      </div>
    </div>
    <div class="img-block-bottom">
      <div class="img-wrap img-tran">
        <img
          class="bottom-img"
          src="/3.jpg"
          alt="Two alpacas staring deeply into the camera lens (photo by E M from Pexels.com)."
        />
      </div>
      <div class="img-wrap img-tran">
        <img
          class="bottom-img"
          src="/4.jpg"
          alt="Definitely 'not a sheep' wearing a rainbow scarf...Its an alpaca. Yes, most definitely. (Photo by Traveling Inka from Pexels)."
        />
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="learn-more-btn"><a href="#">Learn more</a></button>
  </div>
</main>